<head th:replace="document/head :: head_section" xmlns:th="http://www.w3.org/1999/xhtml">



<div class="" xmlns:th="http://www.thymeleaf.org" th:fragment="account_menu">

    <div class="side-bar">
        <div class="user-info">
            <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            <ul class="meta list list-unstyled">
                <li class="name">Rebecca Sanders
                    <label class="label label-info">UX Designer</label>
                </li>
                <li class="email"><a href="#" >Rebecca.S@website.com</a></li>
                <li class="activity">Last logged in: Today at 2:18pm</li>
            </ul>
        </div>
        <nav class="side-menu">
            <ul class="nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/account-menu/account-data' ? 'active':''}"><a href="/account-menu/account-data"><span class="fa fa-user"></span> Profil</a></li>
<!--                <li><a href="#"><span class="fa fa-cog"></span> Settings</a></li>-->
<!--                <li><a href="#"><span class="fa fa-credit-card"></span> Billing</a></li>-->
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/account-menu/account-private-messages' ? 'active':''}"><a href="/account-menu/account-private-messages"><span class="fa fa-envelope"></span> Wiadomości</a></li>

<!--                <li><a href="user-drive.html"><span class="fa fa-th"></span> Drive</a></li>-->
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/account-menu/account-proposals' ? 'active':''}"><a href="/account-menu/account-proposals"><span class="fa fa-clock-o"></span>Wnioski</a></li>
            </ul>
        </nav>
    </div>



</div>
