<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="document/head :: head_section">
</head>
<body>
<div th:replace="document/content :: content_section_title"></div>

<div class="account-page">

    <div class="row col-sm-12 col-md-12 form-group">
        <div class="col-sm-3 col-md-3 form-group border-between-rows">
            <div th:replace="document/account-menu :: account_menu"></div>
        </div>
        <div class="col-sm-6 col-md-6 form-group" style="margin-: ">
            <div class="title-font">
                Wysłane zapytania
            </div>
            <hr>

            <div class="row">
                <div class="container">

                    <tr data-th-each="sended_message : ${sended_messages}">
                    <blockquote class="quote-card">
                        <p>
                         Temat:
                        <td data-th-text="${sended_message.topic}" >...</td>

                        <div data-th-text="${sended_message.text_msg}" style="display: inline-block">...</div>

                        </p>

                        <cite>

                        </cite>
                    </blockquote>

                    </tr>


                </div>
            </div>








        </div>
    </div>
</div>

</body>
<footer th:replace="document/footer :: footer_section"></footer>
</html>