<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="document/head :: head_section"></head>
<body>
<div th:replace="document/content :: content_section_title"></div>

<div class="survey-page">
        <!--Section: Contact v.2-->
        <section class="mb-4">
            <div class="wrapper wrapper-content animated fadeInRight page-title">
                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold my-4">Naciśnij jedną z ankiet aby do niej przejść</h2>
            </div>
        </section>

    <div class="Grid">

        <div class="Grid-item">
            <form action="/survey-selected" method="get" class="gridzik">
                <input type="text" hidden value="lol" name="marks">
            <button type="submit" class="survey-button  gridzik ">
                Ankieta

              </button>
            </form>
        </div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
        <div class="Grid-item"></div>
    </div>
    </div>




</div>



</body>
<footer th:replace="document/footer :: footer_section"></footer>
</html>