<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>-->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->


<head th:replace="document/head :: head_section"></head>
<body>

<div th:replace="document/content :: content_section_title"></div>

<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--<div class="container">-->

<div class="survey-page">
    <!--        <div class="col-lg-12">-->

    <section class="mb-4">
        <div class="wrapper wrapper-content animated fadeInRight page-title">
            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold my-4">Forum</h2>
            <!--Section description-->
            <!--        <span class="text-center w-responsive mx-auto mb-5">Jeśli masz jakieś pytania, jesteśmy tu aby na nie-->
            <!--            odpowiedzieć.</span>-->
        </div>
        <div class="row">
        </div>
    </section>

    <div class="ibox-content forum-container" style="background-color: #eee">

        <div class="forum-title">
            <div class="pull-right forum-desc">
                <samll th:text="'Wszystkie posty: '+ ${all_posts}"></samll>
            </div>
            <h3>Tematy</h3>
        </div>

        <div class="forum-item" data-th-each="thread : ${threads}">
            <div class="row">
                <div class="col-md-9">
                    <div class="forum-icon">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <a th:href="@{'/forum/forum-thread?topic=' + ${thread.getId()}}" class="forum-item-title"
                       th:text="${thread.topic}"></a>
<!--                    <div class="forum-sub-title" th:text="${thread.getTopicFirstMsg()}"></div>-->
                </div>
                <div class="col-md-1 forum-info"></div>
                <div class="col-md-1 forum-info">
                </div>
                <div class="col-md-1 forum-info">
                            <span class="views-number" th:text="${thread.getNumberOfForumMessages()}">

                            </span>
                    <div>
                        <small>Posts</small>
                    </div>
                </div>
            </div>
        </div>



        <div sec:authorize="isAuthenticated()" class="send-wrap "
             th:classappend="${!#request.isUserInRole('ADMIN') and !#request.isUserInRole('USER') ? 'button-disable':''}">
            <h2> Tworzenie nowego tematu </h2>
            <form accept-charset="UTF-8" th:action="@{/forum/forum-thread-creator}" method="POST" role="form"
                  class="">
                <div class="form-group">

                            <textarea class="form-control counted" name="thread" rows="1" placeholder="Temat"
                                      style="font-size: 14px"></textarea>
                </div>
                <div class="form-group">
                            <textarea class="form-control counted" rows="3" name="thread_text" placeholder="Tekst"
                                      style="font-size: 14px"></textarea>
                </div>
                <div class="form-group">
                    <h6 class="" id="counter"></h6>
                    <button class="btn btn-primary" type="submit">Wyślij</button>
                </div>
            </form>
        </div>


    </div>
</div>

</body>
<footer th:replace="document/footer :: footer_section"></footer>
</html>