<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>-->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->


<head th:replace="document/head :: head_section"></head>
<body>

<div th:replace="document/content :: content_section_title"></div>

<div class="survey-page">
    <!--        <div class="col-lg-12">-->

    <section class="mb-4">
        <div class="wrapper wrapper-content animated fadeInRight page-title">
            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold my-4">Forum</h2>
            <!--Section description-->
            <!--        <span class="text-center w-responsive mx-auto mb-5">Jeśli masz jakieś pytania, jesteśmy tu aby na nie-->
            <!--            odpowiedzieć.</span>-->
        </div>
        <div class="row">
        </div>
    </section>

    <div class="ibox-content forum-container" style="background-color: #eee">

        <div class="forum-title">
            <div class="pull-right forum-desc">
                <i class="fa fa-clock-o" th:text="${#temporals.format(topic.getDateOfCreation(), 'dd-MM-yyyy HH:mm')}">data
                    powstania</i>

            </div>
            <h3 th:text="${topic.getTopic()}">Główny tytuł tematu</h3>
        </div>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-9">
                    <div class="forum-icon">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <a class="forum-item-title"
                       th:text="${topic.getSender().getName() + ' '+ topic.getSender().getLastName() }">osoba tworząca
                        post</a>
                    <div class="forum-sub-title" th:text="${topic.getText()}"> wiadomość</div>
                </div>
                <div class="col-md-1 forum-info"></div>
                <div class="col-md-1 forum-info">
                </div>
            </div>
        </div>


        <div class="">
            <div class="be-comment" data-th-each="message : ${topic.getAssignedForumMessages()}">
                <div class="be-comment-content">

				<span class="be-comment-name">
					<a th:text="${message.getSender().getName() + ' ' + message.getSender().getLastName()}"></a>
					</span>
                    <span class="be-comment-time">
					<i class="fa fa-clock-o"
                       th:text="${#temporals.format(message.getCreatedDate(), 'dd-MM-yyyy HH:mm')}"></i>
				</span>

                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">


                    <span style="" class=" be-comment-text col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9"
                          th:text="${message.getTextMsg()}">

                    </span>
                        <div th:if="${message.getSender().getId()} == ${currentLoggedUser}"
                             class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" style="display: flex;
                      justify-content: left;                      align-items: center;">

                            <form action="/deleteMessage" method="get">

                                <!--                            <input type="hidden" th:value="${topicId}" title="topicId">-->
                                <input type="hidden" th:value="${message.getId()}" name="messageId">
                                <input type="hidden" th:value="${topic.getId()}" name="topicId">
                                <button type="submit" style="font-size: 20px; line-height: 100%"
                                        class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>


        <div class="send-wrap "
             sec:authorize="isAuthenticated()">
            <h2> Odpowiedz</h2>

            <form accept-charset="UTF-8" th:action="@{/forum/forum-post-creator}" method="POST" role="form"
                  class="">

                <input type="hidden" th:value="${topic.getId()}" th:id="topicId" name="topicId">
                <div class="form-group">
                            <textarea class="form-control counted" rows="3" name="message_text" placeholder="Tekst"
                                      style="font-size: 14px"></textarea>
                </div>
                <div class="form-group">
                    <h6 class="pull-right" id="counter"></h6>
                    <button class="btn btn-primary" type="submit">Wyślij</button>
                </div>
            </form>
        </div>
    </div>


</div>
</div>
</div>

</body>
<footer th:replace="document/footer :: footer_section"></footer>
</html>